.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: #f9f7ea;
}

.container h4 {
  font-size: 4rem;
  color: var(--text-colour);
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.topBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.topBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phoneImg {
  display: none;
}

.ideaInspoText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.ideaText,
.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.ideaText h5,
.tech h5 {
  font-size: 2.5rem;
  color: var(--text-colour);
  text-align: center;
  margin: 1.5rem 0;
}

.ideaText p,
.tech p {
  font-size: 1.5rem;
  color: var(--text-colour);
  font-weight: 300;
  padding: 0 5rem;
}

.techImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 3rem 0 1.5rem 0;
}

.techImg img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
}

.stages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.stages img {
  width: 75%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  scroll-behavior: smooth;
}

.footer p {
  font-size: 1rem;
  color: var(--text-colour);
  font-weight: 300;
  padding: 0 2rem;
  text-align: left;
}

.footer a {
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem;
}

.footer img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .stages img {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .container h4 {
    font-size: 3rem;
  }
  .ideaInspoText {
    flex-direction: column;
    align-items: center;
  }

  .ideaText,
  .tech {
    width: 80%;
  }
  .ideaText p,
  .tech p {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .topBanner {
    display: none;
  }
  .phoneImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .phoneImg img {
    width: 100%;
    height: auto;
  }
  .ideaText,
  .tech {
    width: 90%;
  }
  .ideaText p,
  .tech p {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 450px) {
  .container h4 {
    font-size: 2.5rem;
  }
  .ideaText,
  .tech {
    width: 100%;
  }
  .ideaText h5,
  .tech h5 {
    font-size: 2rem;
  }
  .ideaText p,
  .tech p {
    font-size: 1.2rem;
  }
  .footer p {
    padding-bottom: 1rem;
    font-size: 0.8rem;
  }
}
