.portfolioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.portfolioContainer h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  color: var(--text-colour);
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}

.topContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.idea h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: var(--text-colour);
  text-align: center;
  margin: 2rem 0;
}

.idea p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  color: var(--text-colour);
  font-weight: 300;
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.techColour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  margin-top: 0;
  margin-bottom: 2rem;
}

.techColour h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: #464444;
  text-align: center;
  margin: 1.5rem 0;
}

.techColour h6 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: var(--text-colour);
  text-align: center;
  margin: 1.5rem 0;
}

.techIcons,
.designIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 3rem 0 1.5rem 0;
}

.techIcons img,
.designIcons img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
}

.techColour p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  color: var(--text-colour);
  font-weight: 300;
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.colourPalette {
  width: 45%;
  height: auto;
  margin-top: 1.2rem;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 4rem 0;
}

.layout h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: var(--text-colour);
  text-align: center;
  margin: 1.5rem 0;
}

.layoutImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 2rem;
}

.layoutImg img {
  width: 100%;
  height: auto;
  margin: 2rem;
}
.layoutImg h6 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--text-colour);
  text-align: center;
  margin: 1.5rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.footer p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: var(--text-colour);
  font-weight: 300;
  padding: 0 2rem;
  text-align: left;
}

.footer a {
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem;
}

.footer img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .layoutImg {
    width: 80%;
  }
}

@media screen and (max-width: 815px) {
  .topContainer {
    flex-direction: column;
    height: auto;
  }
  .idea {
    width: 100%;
  }
  .techColour {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .portfolioContainer h4 {
    font-size: 3rem;
  }
  .idea h5,
  .techColour h5,
  .layout h5 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .portfolioContainer h4 {
    font-size: 2.5rem;
  }
  .techColour h6,
  .layoutImg h6 {
    font-size: 1.5rem;
  }
  .idea h5,
  .techColour h5,
  .layout h5 {
    font-size: 1.8rem;
  }
  .layoutImg {
    width: 95%;
  }
  .techColour p,
  .idea p {
    padding: 0 2rem;
  }
  .colourPalette {
    width: 70%;
    height: auto;
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .portfolioContainer h4 {
    font-size: 2rem;
  }
  .techIcons img,
  .designIcons img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem;
  }
  .idea p,
  .techColour p {
    font-size: 1.1rem;
  }
  .layout h5 {
    font-size: 1.5rem;
  }
  .footer p {
    font-size: 0.8rem;
  }
}
