.programming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.programming h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--text-colour);
  text-align: center;
  margin-bottom: 1.5rem;
}

.innerWrapper {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
  height: 120px;
  width: 300px;
}

.text h4 {
  margin: 0;
  color: var(--text-colour);
  font-size: 2.3rem;
  font-family: "Behila";
  cursor: pointer;
  text-align: center;
}

.imgWrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19rem;
  width: 75%;
  overflow: hidden;
  border-radius: 50% / 100%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  position: relative;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19rem;
  width: 60%;
  overflow: hidden;
  border-radius: 50% / 100%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  position: relative;
}
.imgWrapper h4,
.imgWrapper1 h4 {
  z-index: 7;
  font-family: "Behila", sans-serif;
  font-size: 2rem;
  color: var(--text-colour);
  display: none;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: all 700ms ease-in-out, opacity 2000ms ease-in-out;
}

.imgWrapper img,
.imgWrapper1 img {
  height: 19rem;
  width: 100%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}
.imgWrapper:hover img,
.imgWrapper1:hover img {
  transform: scale(1.3);
  opacity: 0.5;
}

.imgWrapper:hover h4,
.imgWrapper1:hover h4 {
  display: block;
  opacity: 1;
}

/* @media screen and (max-width: 2560px) {
  .programming h3 {
    font-size: 2.5rem;
  }
  .innerWrapper {
    width: 70%;
  }
} */

@media screen and (max-width: 1024px) {
  .imgWrapper {
    width: 70%;
    height: 16rem;
  }
  .imgWrapper1 {
    height: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .imgWrapper h4,
  .imgWrapper1 h4 {
    font-size: 1.2rem;
    display: flex;
    opacity: 1;
    z-index: 1;
  }
  .imgWrapper:hover h4,
  .imgWrapper1:hover h4 {
    opacity: 0;
  }
  .programming h3 {
    font-size: 1.5rem;
  }
  .imgWrapper {
    width: 75%;
    height: 13rem;
  }
  .imgWrapper1 {
    height: 13rem;
  }
  .text h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .text h4 {
    font-size: 1.5rem;
  }
  .innerWrapper {
    height: 15rem;
  }
  .innerWrapper1 {
    height: 15rem;
  }
}

@media screen and (max-width: 490px) {
  .programming {
    width: 95%;
    margin-bottom: 4rem;
  }
  .innerWrapper {
    height: 20rem;
  }
  .innerWrapper1 {
    height: 20rem;
  }
}

@media screen and (max-width: 320px) {
  .programming {
    width: 100%;
  }
  .innerWrapper {
    height: 15rem;
  }
  .innerWrapper1 {
    height: 15rem;
  }
}
