.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 11rem;
}

.projectsContainer h2 {
  font-family: "Behila", sans-serif;
  font-size: 3rem;
  color: var(--text-colour);
  text-align: center;
  margin-bottom: 2rem;
}

.projectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 12rem;
}

.redirect {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.redirect a {
  display: flex;
  justify-content: flex-end;
  padding: 0 4rem;
  width: 15%;
}

.footer img {
  width: 7rem;
  height: auto;
}

@media screen and (max-width: 2560px) {
  .projectsContainer h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 890px) {
  .projectsContainer h2 {
    font-size: 2.5rem;
  }
  .projectsWrapper {
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .projectsWrapper {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 620px) {
  .projectsContainer {
    margin-top: 5rem;
  }
  .projectsWrapper {
    margin-bottom: 4rem;
  }
}
