.certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 13.5rem;
  border: 1px solid var(--text-colour);
  border-radius: 50% / 100%;
}

.certificate h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-colour);
  text-align: center;
  margin: 0;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-colour);
  background-color: #f9f7ea;
  border: 1px solid var(--text-colour);
  border-radius: 50px;
  width: 12rem;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.2rem 1.3rem 0;
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--text-colour);
  transform: scale(1.05);
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  width: 75%;
  margin: 0 auto;
}

.modalContent img {
  width: 100%;
  height: 100%;
}

/* The Close Button */
.close {
  color: var(--text-colour);
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* @media screen and (max-width: 2560px) {
  .certificate {
    width: 40rem;
    height: 20rem;
  }
  .certificate h3 {
    font-size: 2.5rem;
  }
  .certificate p {
    font-size: 1.8rem;
  }
  .button {
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
  }
} */

@media screen and (max-width: 1170px) {
  .certificate {
    width: 35rem;
  }
  .certificate p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 890px) {
  .button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
  }
  .certificate p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .certificate {
    width: 30rem;
  }
}

@media screen and (max-width: 620px) {
  .certificate {
    width: 25rem;
  }
  .modalContent {
    width: 90%;
  }
  .modalContent img {
    width: 100%;
    height: auto;
  }
}
