.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10rem 7rem 0 7rem;
}

.skillsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48rem;
  height: 25rem;
  border: 1px solid var(--text-colour);
  border-radius: 50% / 100%;
}

.skills h2 {
  font-family: "Behila";
  font-size: 2.8rem;
  font-weight: 200;
  color: var(--text-colour);
  text-align: center;
}

.skillsIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 0 2rem 0;
}
.iconsTopRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.iconsBottomRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 0.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: relative;
}

.wrapper img {
  width: 4rem;
  height: 4rem;
  position: absolute;
}

.wrapper .bw {
  z-index: 1;
}

.wrapper .colourful {
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.wrapper:hover .colourful {
  opacity: 1;
  z-index: 1;
}

.wrapper:hover .bw {
  opacity: 0;
  z-index: 0;
  transition: 0.5s ease;
}

.line {
  width: 5rem;
  border: 0.5px solid var(--text-colour);
  height: 0.2px;
}

/* @media screen and (max-width: 2560px) {
  .skillsContainer {
    height: 40rem;
    width: 75rem;
  }
  .skills h2 {
    font-size: 4rem;
  }
  .wrapper {
    width: 8rem;
    height: 8rem;
  }
  .wrapper img {
    width: 6rem;
    height: 6rem;
  }
} */

@media screen and (max-width: 1290px) {
  .wrapper {
    width: 4rem;
    height: 4rem;
  }
  .wrapper img {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 1170px) {
  .skillsContainer {
    height: 23rem;
  }
  .skills h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 8rem 2rem 0 2rem;
  }
  .skillsContainer {
    width: 50rem;
  }
}

@media screen and (max-width: 890px) {
  .skillsContainer {
    height: 22rem;
  }
  .skills h2 {
    font-size: 2rem;
  }
  .wrapper {
    width: 3.5rem;
    height: 3.5rem;
  }
  .wrapper img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .skillsWrapper {
    flex-direction: column;
    width: 90%;
  }
  .skillsContainer {
    width: 95%;
    height: 22rem;
  }

  .line {
    width: 0.2px;
    border: 0.5px solid var(--text-colour);
    height: 5rem;
  }
  .skills h2 {
    font-size: 2.8rem;
  }
  .wrapper {
    width: 4rem;
    height: 4rem;
  }
  .wrapper img {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 620px) {
  .skills h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 490px) {
  .skillsContainer {
    width: 100%;
  }
  .wrapper {
    width: 3.5rem;
    height: 3.5rem;
  }
  .wrapper img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .wrapper .bw {
    opacity: 0;
  }

  .wrapper .colourful {
    opacity: 1;
    z-index: 2;
  }
}

@media screen and (max-width: 450px) {
  .skillsWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .skillsContainer {
    border-radius: 100% / 50%;
    height: 25rem;
  }

  .skills h2 {
    font-size: 2rem;
  }
  .wrapper {
    width: 3rem;
    height: 3rem;
  }
  .wrapper img {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .skillsContainer {
    height: 20rem;
  }
  .skills h2 {
    font-size: 1.5rem;
  }
  .line {
    height: 3rem;
  }
  .wrapper {
    width: 2.5rem;
    height: 2.5rem;
  }
  .wrapper img {
    width: 1.8rem;
    height: 1.8rem;
  }
}
