.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  opacity: 1;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 35%;
  animation: slideInLeft 1.5s ease-out forwards;
}

.me img {
  width: 85%;
  height: 90%;
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  padding-top: 4rem;
  animation: slideInRight 1.4s ease-out forwards;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  padding: 4rem 8rem;
  border: 1px solid var(--text-colour);
  border-radius: 50% / 100%;
}

.aboutMe h2 {
  font-family: "Behila", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  color: var(--text-colour);
  text-align: center;
  margin: 0;
}

.aboutMe p {
  margin: 2rem 0 0 0;
}

.workContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-top: 2rem;
  border: 1px solid var(--text-colour);
  border-radius: 50% / 100%;
  padding: 2.5rem 3rem;
}

.workContact:hover {
  animation: shake 0.8s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.connect {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--text-colour);
}

.workContact h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-colour);
  text-align: center;
  margin: 0;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-top: 0.5rem;
}
.contacts img {
  width: 2rem;
  height: 2rem;
}
.linkedin {
  width: 1.8;
  height: 1.9rem;
}

.email {
  width: 2.4rem;
  height: 2.3rem;
}

.contacts img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* @media screen and (max-width: 2560px) {
  .aboutWrapper {
    height: 100vh;
  }
  .aboutMe {
    height: 40%;
  }
  .workContact {
    height: 22%;
  }
  .aboutMe h2 {
    font-size: 4rem;
  }
  .aboutMe p {
    font-size: 1.8rem;
  }
  .workContact h3 {
    font-size: 2.5rem;
    padding: 2rem 0 0 0;
  }
  .workContact p {
    font-size: 1.6rem;
  }
  .connect {
    font-size: 1.6rem;
  }
  .contacts img {
    width: 3rem;
    height: 3rem;
  }
} */

@media screen and (max-width: 1465px) {
  .aboutMe {
    width: 80%;
    padding: 0;
    height: 50%;
  }
  .aboutMe h2 {
    margin-top: 1.5rem;
  }
  .aboutMe p {
    margin: 2.5rem 3rem;
  }
  .contacts {
    width: 70%;
  }
}

@media screen and (max-width: 1440px) {
  .aboutMe {
    width: 80%;
  }
  .aboutMe h2 {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 1290px) {
  .aboutMe {
    width: 80%;
  }
  .workContact {
    width: 55%;
  }
}

@media screen and (max-width: 1170px) {
  .aboutMe h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .me img {
    width: 95%;
    height: 100%;
  }
  .aboutMe p {
    font-size: 1.1rem;
  }
  .workContact p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 890px) {
  .me {
    width: 40%;
  }
  .me img {
    width: 90%;
    height: 95%;
  }
  .aboutMe p {
    font-size: 1rem;
  }
  .aboutMe h2 {
    font-size: 1.8rem;
  }
  .workContact {
    width: 65%;
    padding: 2rem 1rem;
  }
  .workContact p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .aboutMe p {
    font-size: 0.9rem;
  }
  .aboutMe h2 {
    font-size: 1.5rem;
  }
  .workContact {
    width: 70%;
  }
  .workContact p {
    font-size: 0.9rem;
    padding: 0 0.5rem;
  }
  .workContact h3 {
    font-size: 1.2rem;
  }
  .connect {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 620px) {
  .main {
    flex-direction: column;
    height: auto;
    padding-top: 8rem;
  }
  .me {
    width: 80%;
    align-items: center;
    height: 30%;
  }
  .me img {
    width: 65%;
    height: 100%;
  }
  .aboutWrapper {
    height: 45%;
    width: 90%;
  }
  .workContact {
    width: 65%;
    height: 25%;
  }
  .aboutMe {
    width: 95%;
  }
  .aboutMe h2 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 490px) {
  .me img {
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  .contacts img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .aboutMe {
    border-radius: 100% / 50%;
  }
  .aboutWrapper {
    padding-top: 2rem;
  }
  .workContact {
    width: 80%;
    height: 30%;
  }
}

@media screen and (max-width: 320px) {
  .main {
    padding-top: 7rem;
  }
  .me img {
    width: 85%;
  }
  .aboutMe h2 {
    font-size: 1.2rem;
    margin-top: 3rem;
  }
  .workContact {
    width: 95%;
  }
}
