.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 100%;
  padding: 2.5rem 2rem;
  position: fixed;
  z-index: 5;
  opacity: 1;
  overflow: hidden;
}

.header.visible {
  transform: translateY(0);
  opacity: 1;
}

.myName {
  border: 1px solid #464444;
  border-radius: 50px;
  width: 20%;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.2rem 1.3rem 0;
  backdrop-filter: blur(10px);
}

.myName p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-colour);
}

.line {
  width: 40%;
  height: 0.2px;
  border: 0.5px solid #464444;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border: 1px solid #464444;
  border-radius: 50px;
  height: 3rem;
  padding: 0.2rem 1.3rem 0;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.navLinks a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  color: #464444;
}

.navLinks li {
  list-style: none;
}

.navLinks li:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* @media screen and (max-width: 2560px) {
  .header {
    height: 8rem;
  }
  .myName {
    height: 5rem;
  }
  .navLinks {
    height: 5rem;
  }
  .myName p {
    font-size: 2rem;
  }
  .navLinks a {
    font-size: 2rem;
  }
} */

@media screen and (max-width: 1024px) {
  .myName {
    width: 30%;
  }
  .line {
    width: 30%;
  }
}

@media screen and (max-width: 890px) {
  .nav {
    width: 50%;
  }
  .myName {
    width: 30%;
  }
  .line {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .myName p {
    font-size: 1.1rem;
  }
  .navLinks a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 670px) {
  .nav {
    width: 55%;
  }
  .line {
    width: 10%;
  }
  .myName {
    width: 35%;
  }
}

@media screen and (max-width: 620px) {
  .myName p {
    font-size: 0.9rem;
  }
  .navLinks a {
    font-size: 0.9rem;
  }
  .navLinks {
    padding-top: 0;
  }
}
