.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1.5rem;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #464444;
  border-radius: 50px;
  width: 45%;
  height: 5rem;
}

.contact h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #464444;
  text-align: center;
  margin-left: 2.5rem;
}

.line {
  width: 30%;
  height: 0.2px;
  border: 0.5px solid #464444;
}

.contact_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 23%;
  height: 5rem;
  border: 1px solid #464444;
  border-radius: 50px;
  padding: 0 1.3rem;
}

.contact_icons img {
  width: 2.5rem;
  height: 2.5rem;
}

.contact_icons img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* @media screen and (max-width: 2560px) {
  .contact {
    height: 7rem;
  }
  .contact_icons {
    height: 7rem;
  }
  .contact h2 {
    font-size: 2.5rem;
  }
  .contact_icons img {
    width: 3.2rem;
    height: 3.2rem;
  }
} */

@media screen and (max-width: 1290px) {
  .contact_icons img {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .contact_icons {
    width: 27%;
  }
}

@media screen and (max-width: 890px) {
  .contact_icons {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .contact_icons {
    width: 40%;
  }
  .contact h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 700px) {
  .contact h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 620px) {
  .contact {
    width: 50%;
    height: 4.5rem;
  }
  .line {
    width: 5%;
  }
  .contact_icons {
    width: 45%;
    height: 4.5rem;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 490px) {
  .contact {
    justify-content: center;
  }
  .contact h2 {
    margin: 0;
  }
  .contact_icons a {
    width: 1.5rem;
    height: 1.5rem;
  }
  .contact_icons img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 430px) {
  .contact {
    width: 40%;
  }
  .contact h2 {
    font-size: 1.1rem;
  }
  .line {
    width: 15%;
  }
}

@media screen and (max-width: 375px) {
  .line {
    display: none;
  }
  .footer {
    justify-content: space-between;
  }
  .contact h2 {
    font-size: 0.9rem;
  }
  .contact_icons {
    width: 55%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 1rem;
  }
  .contact_icons {
    border: none;
  }
}
